---
const { title, subtitle, url } = Astro.props;
---

<div
  class="flex flex-col ring-1 shadow-3xl justify-between min-h-72 p-8 rounded-3xl relative overflow-hidden h-full bg-gradient-to-tr from-zinc-800 duration-300 to-zinc-950 ring-zinc-800 ring-inset group hover:shadow-3xlHover transform transition-all group">
  <div class="flex justify-between items-center">
    <p class="font-medium text-white text-base uppercase">
      {title}
    </p>
    <div
      class="rounded-full bg-white p-1 text-black group-hover:-rotate-45 duration-300">
      <svg
        class="size-4"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true">
        <path
          d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
        ></path>
      </svg>
    </div>
  </div>

  <div
    class="-mb-20 group-hover:mb-0 gap-12 duration-300 flex flex-col items-start justify-between">
    <p class="text-zinc-400 leading-tight mt-8">
      {subtitle}
    </p>
    <a
      href={url}
      title={title}
      class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200"
      >Read more
    </a>
  </div>
</div>
