---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// Content
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div class="flex items-end justify-between">
      <Text
        tag="h2"
        variant="displaySM"
        class="italic tracking-wide dark:text-white text-base-900 font-display"
      >
        Blog
      </Text>
      <Button isLink size="xs" variant="muted" href="/blog/1"
        >Read all my blog posts
      </Button>
    </div>
    <div class="mt-6 gap-2">
      {allPosts.slice(0, 1).map((post) => <BlogCard post={post} />)}
    </div>
  </Wrapper>
</section>
