---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import StackCard1 from "@/components/stack/StackCard1.astro";
---

<section>
  <Wrapper variant="standard" class="py-12">
    <div class="flex items-end justify-between">
      <Text
        tag="h2"
        variant="displaySM"
        class="italic tracking-wide dark:text-white text-base-900 font-display"
      >
        Stack
      </Text>
      <Button isLink size="xs" variant="muted" href="/stack"
        >Check out my whole stack
      </Button>
    </div>
    <StackCard1 />
  </Wrapper>
</section>
