---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";
import SubscribeCta from "@/components/blog/SubscribeCta.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Get all posts
import { getCollection } from "astro:content";
// Fetch all posts and sort newest first
const allPosts = await getCollection("posts");
const sortedPosts = allPosts
  .filter((post) => post.data?.pubDate)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          Welcome to my blog:
          <span class="italic tracking-wide font-display">
            News and thoughts
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          I write about everything that I learn, join me on my journey.
        </Text>
        <div class="mt-4"><BlogSearch /></div>
      </div>
      <div class="flex flex-col mt-12 gap-2">
        {sortedPosts.map((post) => <BlogCard post={post} />)}
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
</BaseLayout>
