@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-styles {
  @apply prose prose-blockquote:border-l-zinc-400 prose-a:text-zinc-400 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-zinc-500 text-zinc-400  prose-blockquote:text-zinc-400  prose-strong:font-medium prose-pre:ring-1  prose-pre:shadow-3xl prose-strong:text-white prose-code:text-white prose-pre:ring-zinc-700;

}


:root {
  --astro-code-token-link: theme(textColor.white);
  --astro-code-token-keyword: theme(textColor.black);
  --astro-code-token-function: theme(textColor.black);
  --astro-code-token-parameter: theme(textColor.white);
  --astro-code-color-text: theme(textColor.zinc.200);
  --astro-code-token-punctuation: theme(textColor.white);
  --astro-code-token-string: theme(textColor.zinc.800);
  --astro-code-token-comment: theme(textColor.zinc.600);
  --astro-code-token-constant: theme(textColor.zinc.600);
  --astro-code-color-background: theme(backgroundColor.white);
  --astro-code-token-string-expression: theme(textColor.zinc.600);
}
