<main aria-labelledby="header" class="relative overflow-hidden">
  <div class="relative w-full">
    <div
      class="animate-marquee whitespace-nowrap gap-4 flex mt-64 lg:mt-96 items-baseline">
      <h1
        class="font-normal tracking-tighter uppercase text-6xl lg:text-14xl pb-12">
        <span class="text-white"> overview</span>
        <span class="text-gray">overview</span>
        <span class="text-grayest">overview</span> overview
      </h1>
    </div>
  </div>
</main>
<section>
  <div class="px-2 lg:px-8 w-full py-3">
    <ol role="list">
      <li>
        <a class="text-white hover:text-gray duration-200" href="/">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Home
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/about">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              About
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/contact">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Contact
            </p>
          </div>
        </a>
      </li>

      <li>
        <a class="text-white hover:text-gray duration-200" href="/all-projects">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              All work
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/case-study">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Case study
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/404">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Error 404
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/blog">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Blog
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/posts/post-1">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Blog post x4
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/tags">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Tags
            </p>
          </div>
        </a>
      </li>
      <li>
        <a
          class="text-white hover:text-gray duration-200"
          href="/tags/lexington">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              Tags slug             </p>
          </div>
        </a>
      </li>
      <li>
        <a class="text-white hover:text-gray duration-200" href="/rss.xml">
          <div>
            <p
              class="font-normal tracking-tighter uppercase text-6xl md:text-10xl xl:text-12xl">
              RSS
            </p>
          </div>
        </a>
      </li>
    </ol>
  </div>
</section>
