---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          Oh, oh...!
          <span class="italic tracking-wide font-display"> 404 error </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-700"
        >
          An error has occurred. The page you are looking for may have been
          moved, deleted, or does not exist. Please try again. If the problem
          persists, please contact the site administrator.
        </Text>

        <Button
          isLink
          size="sm"
          variant="muted"
          href="/"
          class="mx-auto mt-8 w-fit"
          >Go back home
        </Button>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
