---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import StackCard2 from "@/components/stack/StackCard2.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="dark:text-white text-base-900 text-balance"
        >
          Tools & Software I Use
          <span
            class="italic tracking-wide font-display dark:text-base-400 text-base-700"
          >
            for design & productivity
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-700"
        >
          My curated collection of software, tools, and platforms that power my interior design work and keep me productive. From design software to project management, here's what I use daily.
        </Text>
      </div>
      <StackCard2 />
    </Wrapper>
  </section>
</BaseLayout>
