---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import WorkCard from "@/components/work/WorkCard.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
// Assets
import LogoCloud from "@/components/assets/LogoCloud.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="dark:text-white text-base-900 text-balance"
        >
          Check out my <span
            class="italic tracking-wide font-display dark:text-base-400 text-base-700"
          >
            portfolio
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-700 text-balance"
        >
          Hire me to build your next project from scratch, with a focus on
          design and development.
        </Text>
      </div>
      <LogoCloud />
      <div role="list" class="mt-12 grid gap-2 sm:grid-cols-2">
        {allWork.map((post) => <WorkCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
