<section>
  <div class="px-8 py-12 mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h1 class="text-4xl tracking-tight text-balance text-white md:text-6xl">
        Subscribe to
        <span class="font-display italic font-light tracking-wide">
          my newsletter
        </span>
      </h1>
      <p class="mt-4 text-base font-medium text-zinc-400 text-balance">
        Get notified when I publish something new, and unsubscribe at any time.
      </p>
      <form>
        <div class="mt-6 flex flex-col gap-2 max-w-xs mx-auto">
          <input
            type="email"
            required=""
            placeholder="Email address"
            aria-label="Email address"
            class="w-full flex-auto appearance-none rounded-full text-center ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 h-9 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
          /><button
            class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200 justify-between"
            type="submit"
            >Join <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 group-hover:translate-x-2 duration-300"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path d="M9 6l6 6l-6 6"></path></svg
            ></button
          >
        </div>
      </form>
    </div>
  </div>
</section>
