---
// Define the data for each section and its pages
const pages = [
  {
    title: "Overview",
    categories: [
      {
        name: "Pages",
        links: [
          { href: "/", text: "Home" },

          { href: "/404", text: "Error 404" },
        ],
      },
      {
        name: "About",
        links: [
          { href: "/about/now", text: "Now" },
          { href: "/about/stack", text: "Stack" },
          { href: "/studio/home", text: "Studio" },
          { href: "/about/socials", text: "Socials" },
        ],
      },
      {
        name: "Forms",
        links: [
          { href: "/forms/reset", text: "Reset" },
          { href: "/forms/signin", text: "Sign in" },
          { href: "/forms/signup", text: "Sign up" },
          { href: "/forms/contact", text: "Contact" },
        ],
      },
      {
        name: "System",
        links: [
          { href: "/system/styleguide", text: "Style Guide" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/legal/support/",
            text: "Support",
          },
          {
            href: "https://lexingtonthemes.com/documentation/quick-start",
            text: "Documentation",
          },
        ],
      },
    ],
  },
  {
    title: "Content collections",
    categories: [
      {
        name: "Blog",
        links: [
          { href: "/blog/home", text: "Blog home" },
          { href: "/blog/home-two", text: "Blog home two" },
          { href: "/blog/home-three", text: "Blog home three" },
          { href: "/blog/posts/1", text: "Blog post" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/astro", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        name: "Projects",
        links: [
          { href: "/projects/home", text: "Home" },
          { href: "/projects/1", text: "Details" },
        ],
      },
      {
        name: "Work",
        links: [
          { href: "/work/home", text: "Home" },
          { href: "/work/1", text: "Details" },
        ],
      },

      {
        name: "Store",
        links: [
          { href: "/store/home", text: "Store" },
          { href: "/store/1", text: "Product Page" },
        ],
      },
    ],
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h1
        class="text-4xl tracking-tight text-balance text-white md:text-6xl">
       Overview
       
      </h1>
      <p class="mt-4 text-base font-medium text-zinc-400 text-balance">
       Explore all pages.
      </p>
    </div>
    <div class="mt-6 max-w-xl mx-auto space-y-16">
      {
        pages.map((section) => (
          <div>
            <p class="text-2xl font-display italic tracking-wide text-white">
              {section.title}
            </p>
            <div class="mt-6 gap-y-12 gap-x-6 grid grid-cols-2 xl:grid-cols-4 ">
              {section.categories.map((category) => (
                <div class="flex flex-col gap-4">
                  <h3 class="font-medium text-white text-base uppercase ">
                    {category.name}
                  </h3>
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-2 dark:border-neutral-700  lg:col-span-2">
                    {category.links.map((link) => (
                      <li>
                        <a
                          href={link.href}
                          class="hover:text-blue-400 flex items-center gap-2  text-zinc-400">
                          {link.text}
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
