<section>
  <div class="px-8 py-24 mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h1
        class="text-4xl tracking-tight text-balance text-white md:text-6xl">
        Style Guide
        <span class="font-display italic font-light tracking-wide">
          for flaco theme
        </span>
      </h1>
      <p class="mt-4 text-base font-medium text-zinc-400 text-balance">
        Follow the style guide to learn how to use the components and how to
        style your website.
      </p>
    </div>
    <div class="mt-6 max-w-xl mx-auto space-y-16">
      <div>
        <p
          class="text-2xl font-display italic tracking-wide text-white">
          Typography
        </p>
        <div class="space-y-6 pt-12">
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <div>
              <span class="text-zinc-400">Display</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-4xl text-balance text-white md:text-6xl font-display italic font-light tracking-wide"
                >Display</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <div>
              <span class="text-zinc-400">H1</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-4xl tracking-tight text-balance text-white md:text-6xl"
                >Header 1</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">H2</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-3xl font-display italic tracking-wide text-white"
                >Header 2</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">H3</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-2xl font-display italic tracking-wide text-white"
                >Header 3</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">H4</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-xl font-display italic tracking-wide text-white"
                >Header 4</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">H5</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text font-medium tracking-tight text-white sm:text-lg"
                >Header 5</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">H6</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-xs font-medium tracking-tight text-white sm:text-base"
                >Header 6</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">Link</span>
            <div class="col-span-2 lg:col-span-3">
              <a
                href="#_"
                class="hover:text-blue-400 flex items-center gap-2 group text-zinc-400"
                >Link text</a
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">Subtitle</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="font-medium text-white text-base uppercase text-balance"
                >Subtitle text</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">Paragraph</span>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="mt-2 text-base font-medium text-zinc-400 text-balance"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">Caption</span>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-zinc-400 text-xs"
                >Picture about somethign</span
              >
            </div>
          </div>
          <div class="grid grid-cols-3 items-start lg:grid-cols-4">
            <span class="text-zinc-400">List</span>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="prose-styles"
                role="list">
                <li class="flex gap-2 items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M9 6l6 6l-6 6"></path></svg
                  >Next.js and/or Nuxt.js
                </li>
                <li class="flex gap-2 items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M9 6l6 6l-6 6"></path></svg
                  >CReact Native
                </li>
                <li class="flex gap-2 items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M9 6l6 6l-6 6"></path></svg
                  >AWS and/or Firebase
                </li>
                <li class="flex gap-2 items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4"
                    ><path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    ></path><path d="M9 6l6 6l-6 6"></path></svg
                  >Familiarity with noSQL databases
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-6 pt-12">
        <p
          class="text-2xl font-display italic tracking-wide text-white">
          Color palette
        </p>
        <div class="grid gap-2 grid-cols-2 lg:grid-cols-3">
          <div class="space-y-2">
            <div
              class="p-2 rounded bg-white border ">
            </div>
          </div>
          <div>
            <div class="p-2 rounded-t bg-blue-50"></div>
            <div class="p-2 bg-blue-100"></div>
            <div class="p-2 bg-blue-200"></div>
            <div class="p-2 bg-blue-300"></div>
            <div class="p-2 bg-blue-400"></div>
            <div class="p-2 bg-blue-500"></div>
            <div class="p-2 bg-blue-600"></div>
            <div class="p-2 bg-blue-700"></div>
            <div class="p-2 bg-blue-800"></div>
            <div class="p-2 bg-blue-900"></div>
            <div class="p-2 rounded-b bg-blue-950"></div>
          </div>
          <div>
            <div class="p-2 rounded-t bg-zinc-50"></div>
            <div class="p-2 bg-zinc-100"></div>
            <div class="p-2 bg-zinc-200"></div>
            <div class="p-2 bg-zinc-300"></div>
            <div class="p-2 bg-zinc-400"></div>
            <div class="p-2 bg-zinc-500"></div>
            <div class="p-2 bg-zinc-600"></div>
            <div class="p-2 bg-zinc-700"></div>
            <div class="p-2 bg-zinc-800"></div>
            <div class="p-2 bg-zinc-900"></div>
            <div class="p-2 rounded-b bg-zinc-950"></div>
          </div>
        </div>
      </div>
      <div class="space-y-6 pt-12">
        <p
          class="text-2xl font-display italic tracking-wide text-white">
          Buttons
        </p>
        <div class="flex flex-wrap gap-4">


          <button
            type="button"
            class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 text font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200">
            Primary
          </button>

          <button
            type="button"
            class="hover:text-blue-400 flex items-center gap-2 group text-zinc-400">
            Secondary
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
