<section>
  <div class="px-8 py-24 mx-auto">
    <div class="text-center max-w-xl mx-auto">
      <h1 class="text-4xl tracking-tight text-balance text-white md:text-6xl">
        Get in touch

        <span class="font-display italic font-light tracking-wide block">
          Send me a message
        </span>
      </h1>
      <p class="mt-4 text-base font-medium text-zinc-400 text-balance">
        I am open to collaborating on exciting projects with wonderful
        individuals. If you require any assistance, I am more than willing to
        offer my support.
      </p>
    </div>

    <form class="mt-6 max-w-sm mx-auto">
      <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div>
          <label
            for="first-name"
            class="sr-only"
            >First name</label
          >
          <div>
            <input
              type="text"
              name="first-name"
              id="first-name"
              placeholder="Your name"
              autocomplete="given-name"
              class="w-full flex-auto appearance-none rounded-full ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 h-9 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
            />
          </div>
        </div>
        <div>
          <label
            for="last-name"
            class="sr-only"
            >Last name</label
          >
          <div>
            <input
              type="text"
              name="last-name"
              placeholder="Your last name"
              id="last-name"
              autocomplete="family-name"
              class="w-full flex-auto appearance-none rounded-full ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 h-9 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="company"
            class="sr-only"
            >Company</label
          >
          <div>
            <input
              type="text"
              name="company"
              id="company"
              placeholder="Company name"
              autocomplete="organization"
              class="w-full flex-auto appearance-none rounded-full ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 h-9 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="email"
            class="sr-only"
            >Email</label
          >
          <div>
            <input
              type="email"
              name="email"
              placeholder="Your best email!"
              id="email"
              autocomplete="email"
              class="w-full flex-auto appearance-none rounded-full ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 h-9 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
            />
          </div>
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="sr-only"
            >Message</label
          >
          <div>
            <textarea
              name="message"
              id="message"
              placeholder="Your message goes here..."
              rows="4"
              class="w-full flex-auto appearance-none rounded-xl ring-1 ring-zinc-800 text-white ring-inset border-transparent px-3 py-[calc(theme(spacing.2)-1px)] shadow-3xl shadow-zinc-800/5 placeholder:text-zinc-400 duration-300 focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-500/10 sm:text-sm bg-zinc-700/[0.15]"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <button
          type="submit"
          class="rounded-full bg-white px-4 flex justify-center gap-1 items-center py-2.5 h-9 text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200 group w-full"
          >Submit
        </button>
      </div>
    </form>
    <div class="mt-6 max-w-sm mx-auto">
      <div
        class="flex flex-col ring-1 shadow-3xl justify-between w-full min-h-72 p-6 rounded-2xl relative overflow-hidden h-full bg-gradient-to-tr from-zinc-800 to-zinc-950 ring-zinc-800 ring-inset group hover:shadow-3xlHover transform transition-all group">
        <div class="flex flex-col justify-between min-h-72">
          <div>
            <div
              class="flex justify-between items-center sm:items-start relative">
              <p class="text-2xl font-display italic tracking-wide text-white">
                Book a call
              </p>
              <a
                href="/forms/contact"
                title="your tile"
                class="rounded-full bg-black p-1 text-white dark:invert group-hover:-rotate-45 duration-300">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile size-4"
                  ><path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path><path
                    d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
                  ></path><path d="M11 4h2"></path><path d="M12 17v.01"
                  ></path></svg
                >
              </a>
            </div>
            <p class="text-zinc-400 leading-tight mt-8 text-pretty">
              If not sure, you can book an intro call to learn more about my
              services and get a free consultation to discuss your project.
            </p>
          </div>
          <div class="">
            <a
              href="#_"
              title="your title"
              class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 w-full justify-between text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200"
              >Book an intro call <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 group-hover:translate-x-2 duration-300"
                ><path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path><path d="M9 6l6 6l-6 6"></path></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
