---
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
// Components
import LogoCloud from "@/components/assets/LogoCloud.astro";
// Icons
import MobilePhone from "@/components/fundations/icons/MobilePhone.astro";
---

<div class="mt-12 grid gap-2 sm:grid-cols-2">
  <div
    class="p-2 shadow ring-1 dark:ring-0 group bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950 ring-base-200 ring-inset rounded-3xl hover:shadow-light dark:hover:shadow-dark"
  >
    <div
      class="relative flex flex-col justify-between h-full p-4 overflow-hidden min-h-96 rounded-2xl"
    >
      <div>
        <div class="relative flex items-center justify-between sm:items-start">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium uppercase dark:text-white text-base-900"
          >
            Book a call
          </Text>
          <a
            href="/forms/contact"
            title="your tile"
            class="p-1 text-white bg-black rounded-full dark:bg-base-50 dark:text-base-900 group-hover:-rotate-45 duration-300"
          >
            <MobilePhone class="size-4" />
          </a>
        </div>
        <Text
          tag="p"
          variant="textBase"
          class="mt-8 dark:text-base-400 text-base-700"
        >
          If not sure, you can book an intro call to learn more about my
          services and get a free consultation to discuss your project.
        </Text>
      </div>

      <Button
        isLink
        size="sm"
        variant="default"
        href="/forms/contact"
        title="your title"
        >Book an intro call
      </Button>
    </div>
  </div>
  <div
    class="p-2 bg-white shadow duration-300 ring-1 dark:ring-0 group dark:bg-base-950 dark:ring-base-800 ring-base-200 ring-inset rounded-3xl hover:shadow-light dark:hover:shadow-dark"
  >
    <div
      class="relative flex flex-col justify-between h-full overflow-hidden min-h-96 rounded-2xl p-4"
    >
      <div>
        <Text
          tag="h3"
          variant="displayXL"
          class="italic font-medium tracking-wide font-display dark:text-white text-base-900"
        >
          Referral program
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-8 dark:text-base-400 text-base-700"
        >
          Refer someone and get 10% off your next project or month of work.
        </Text>
      </div>

      <Button isLink size="sm" variant="muted" href="#_" title="your title"
        >Join the program
      </Button>
    </div>
  </div>
</div>
