---
// Assets
import Logo from "@/components/assets/logo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Twitter from "@/components/fundations/icons/Twitter.astro";
import Github from "@/components/fundations/icons/Github.astro";
import Yotube from "@/components/fundations/icons/Youtube.astro";
---

<footer>
  <Wrapper class="flex flex-col py-24">
    <a href="/" aria-label="Go to homepage">
      <Logo class="mx-auto size-8 dark:text-white text-base-900" />
    </a>

    <Text
      tag="p"
      variant="textBase"
      class="mt-12 text-center leading-6 dark:text-base-400 text-base-600 text-balance"
    >
      © {new Date().getFullYear()} Copyright Lexington Themes. All rights reserved.
      Designed and built in the Åland Islands by Michael Andreuzza.
    </Text>

    <div class="flex justify-center mt-12 space-x-6">
      <a href="#" class="dark:text-base-400 text-base-600 hover:text-white">
        <span class="sr-only">X</span>
        <Twitter class="size-4" />
      </a>

      <a href="#" class="dark:text-base-400 text-base-600 hover:text-white">
        <span class="sr-only">YouTube</span>
        <Yotube class="size-4" />
      </a>

      <a href="#" class="dark:text-base-400 text-base-600 hover:text-white">
        <span class="sr-only">GitHub</span>
        <Github class="size-4" />
      </a>
    </div>
  </Wrapper>
</footer>
