<div>
  <div
    class="w-full mx-auto max-w-lg px-8 lg:px-0 flex flex-col lg:flex-row lg:items-center lg:justify-between py-3"
    x-data="{ open: false }">
    <div class="flex flex-row items-center justify-between text-white">
      <a
        href="/"
        title="link to your page"
        aria-label="your label"
        class="items-center inline-flex"
        >Flaco
      </a><button
        class="focus:shadow-outline focus:outline-none lg:hidden rounded-lg"
        @click="open = !open"
        ><svg
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            d="M4 6h16M4 12h16M4 18h16"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
          ></path><path
            d="M6 18L18 6M6 6l12 12"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
          ></path></svg
        ></button
      >
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="items-center text-sm flex-grow flex-col hidden gap-y-4 lg:flex dark:text-zinc-400 lg:flex-row text-zinc-500 lg:justify-start py-1 opacity-100 gap-x-4">
      <a
        href="/system/overview"
        title="link to your page"
        aria-label="your label"
        class="hover:text-blue-400 flex items-center gap-2 group text-zinc-400 ml-auto"
        >Overview
      </a><a
        href="/system/styleguide"
        title="link to your page"
        aria-label="your label"
        class="hover:text-blue-400 flex items-center gap-2 group text-zinc-400"
        >Style Guide
      </a>
      <a
        href="https://buy.polar.sh/polar_cl_8Org8z858D00MUHXL3Jz5x6_VEmLnfI9sCQBW-QRDIU"
        title="link to your page"
        aria-label="your label"
        class="rounded-full bg-white px-4 flex justify-center gap-1 items-center py-2.5 h-8 text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200 group"
        >Buy Flaco <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 group-hover:translate-x-2 duration-300"
          ><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path><path d="M9 6l6 6l-6 6"></path></svg
        >
      </a>
    </nav>
  </div>
</div>
