---
// Define the logos data
const logos = [
  "/assets/logos/1.svg",
  "/assets/logos/2.svg",
  "/assets/logos/3.svg",
  "/assets/logos/4.svg",
  "/assets/logos/5.svg",
  "/assets/logos/6.svg",
  "/assets/logos/1.svg",
  "/assets/logos/2.svg",
  "/assets/logos/3.svg",
  "/assets/logos/4.svg",
  "/assets/logos/5.svg",
  "/assets/logos/6.svg",
  // Add more logo paths as needed
];
---

<div class="grid sm:grid-cols-2 gap-2 mt-2 max-w-xl mx-auto">
  <div
    class="p-2 ring-1 dark:ring-0 duration-300 group bg-gradient-to-tr from-zinc-800 to-zinc-950 ring-zinc-800 ring-inset shadow-3xl rounded-3xl hover:shadow-3xlHover">
    <div
      class="flex flex-col justify-between min-h-96 p-4 rounded-2xl relative overflow-hidden h-full dura">
      <div>
        <div class="flex justify-between items-center sm:items-start relative">
          <p class="font-medium text-balance text-base uppercase text-white">
            Book a call
          </p>
          <a
            href="/forms/contact"
            title="your tile"
            class="rounded-full bg-white p-1 text-black group-hover:-rotate-45 duration-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile size-4"
              ><path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              ></path><path
                d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
              ></path><path d="M11 4h2"></path><path d="M12 17v.01"></path></svg
            >
          </a>
        </div>
        <p class="text-zinc-400 leading-tight mt-8 text-pretty">
          If not sure, you can book an intro call to learn more about my
          services and get a free consultation to discuss your project.
        </p>
      </div>
      <div class="">
        <a
          href="#_"
          title="your title"
          class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 w-full justify-between text-sm font-semibold text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200"
          >Book an intro call <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 group-hover:translate-x-2 duration-300"
            ><path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path><path d="M9 6l6 6l-6 6"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
  <div
    class="ring-1 flex flex-col justify-between min-h-96 p-6 duration-300 groupbg-white ring-zinc-800 shadow-3xl rounded-3xl hover:shadow-none bg-white overflow-hidden">
    <div>
      <p
        class="font-medium  text-base uppercase text-black sm:text-3xl font-display italic tracking-wide">
        Referral program
      </p>
      <div class="relative mx-auto overflow-hidden overflow-x-hidden py-2">
        <div class="w-full justify-between grid">
          <div
            class="absolute inset-0 from-white  left-0 via-transparent w-44 z-10 bg-gradient-to-r">
          </div>
          <div
            class="absolute inset-0 from-white  left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
          </div>
        </div>
        <div
          class="items-center relative animate-marquee flex invert gap-4 whitespace-nowrap">
          {
            logos.map((logo) => (
              <img
                class="h-8"
                src={logo}
                alt={logo}
              />
            ))
          }
        </div>
      </div>
    </div>

    <p
      class="dark:text-zinc-400 leading-tight mt-8 sm:text-2xl text-pretty">
      Refer someone and get 10% off your next project or month of work.
    </p>
    <div
      class="gap-12 duration-300 flex flex-col items-start justify-between relative">
      <a
        href="#_"
        title="your title"
        class="rounded-full bg-white px-4 flex gap-1 items-center py-2.5 h-9 text-sm font-semibold w-full justify-between text-black hover:bg-zinc-200 duration-300 ring-1 ring-inset ring-zinc-200"
        >Join the program <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4 group-hover:translate-x-2 duration-300"
          ><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          ></path><path d="M9 6l6 6l-6 6"></path></svg
        >
      </a>
    </div>
  </div>
</div>
